discord.py==1.7.2
discord-ext-ipc==2.0.0
pymongo==3.11.4
dnspython==2.1.0
aiohttp==3.6.2
Quart==0.15
Quart-Discord==2.1.4
Pillow==8.2.0
youtube_dl==2021.5.16
numpy==1.20.3
animals.py==1.0.0
praw==7.2.0
fuzzywuzzy==0.18.0
emojis==0.6.0