<!doctype html>
<html lang="en">
    <head>
        <title>Sidebar 09</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
        <meta http-equiv="Pragma" content="no-cache"/>
        <meta http-equiv="Expires" content="0"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/static/guild.css" />
        <link rel="stylesheet" type="text/css" href="/static/index.css" />
        <link rel="stylesheet" type="text/css" href="/static/bootstrap-4.4.1.css" />
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <script type="text/javascript" src="/static/js.js"></script>
    </head>
    <body style="background-color: #141617;">
        <nav class="navbar navbar-expand-lg nav">
            <a class="navbar-brand" href="#">Zen Bot</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link nav_text" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Commands</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../dashboard">Dashboard</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="wrapper d-flex align-items-stretch">
            <nav id="sidebar">
                <div class="custom-menu">
                </div>
                <div class="img bg-wrap text-center py-4" style="background-image: url();">
                    <div class="user-logo">
                        {% if guild.icon_url|length > 15 %}
                        <div class="img" style="background-image: url({{guild.icon_url}}?size=128);"></div>
                        {% else %}    
                        <div class="img" style="background-image: url(https://cdn.discordapp.com/attachments/833503537479942155/844650622342922310/Zeny_Bot_Gray.png?size=128);"></div>
                        {% endif %}
                        <h3>{{guild.name}}</h3>
                    </div>
                </div>
                <ul class="list-unstyled components mb-5">
                    <li class=" active tablinks" onclick="openTab(event, 'ServerInformation')">
                        <a href="javascript:void(0)" id="defaultTab" ><span class="fa fa-home mr-3"></span> Server Information</a>
                    </li>
                    <li class=" tablinks " onclick="openTab(event, 'Commands')">
                        <a href="javascript:void(0)"><span class="fa fa-wrench mr-3"></span> Commands</a>
                    </li>
                    <li class=" tablinks " onclick="openTab(event, 'Warns')">
                        <a href="javascript:void(0)"><span class="fa fa-wrench mr-3"></span> Warns</a>
                    </li>
                </ul>
            </nav>

            <!-- Page Content  -->
            <div id="ServerInformation" class="tabcontent p-4 pt-5">
                <div class="container" style="min-width: 100%;display: flex; float: left; background-color: #121212;">
                    <div class="row" style="margin-top: 20px;">
                        <div class="col col-xl-8">
                            <div class="container container-card-large float-left">
                                <div class="row">
                                    <a class="card-title">SERVER INFORMATION</a>
                                </div>
                                <div class="row">
                                    <div class="col-4 card-text">
                                        <a>Members: </a> <span>{{guild.member_count}}</span>
                                    </div>
                                    <div class="col-4 card-text">
                                        <a>Categories:</a> <span>{{guild.category_count}}</span>
                                    </div>
                                    <div class="col-4 card-text">
                                        <a>Channels:</a> <span>{{guild.channel_count}}</span>
                                    </div>
                                    <div class="col-4 card-text">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4 card-text">
                                        <a>Roles:</a> <span>{{guild.role_count}}</span>
                                    </div>
                                    <div class="col-4 card-text">
                                        <a>Region:</a> <span>{{guild.region}}</span>
                                    </div>
                                    <div class="col-4 card-text">
                                        <a>Server ID:</a> <span>{{guild.id}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="container container-card-small container-space">
                                <div class="row">
                                    <a class="card-title">IMPORTANT CHANNELS</a>
                                </div>
                                
                                <div class="row">
                                    <div class="col-4 card-text col-xl-12">
                                        <a>General Channel ID:</a> <span>{{_db_important_channels["channel_general"]}}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4 card-text col-xl-12">
                                        <a>Logs Channel ID:</a> <span>{{_db_important_channels["channel_logs"]}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="container" style="min-width: 100%;display: flex; float: left; background-color: #121212;">
                    <div class="row" style="margin-top: 20px;">
                        <div class="col col-xl-8">
                            <div class="container container-card-large float-left">
                                <div class="row">
                                    <a class="card-title">MAKE ANNOUNCEMENT</a>
                                </div>
                                <div class="row">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                          <button id="channel-dropdown-button" class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Channels</button>
                                          <div class="dropdown-menu">
                                            {% for name, id in channels.items() %}
                                            <a id=channel_id_{{id}} class="dropdown-item" onclick="selectChannel(this.id, this.innerHTML)" href="#"># {{name}}</a>
                                            {% endfor %}
                                          </div>
                                        </div>
                                        <input id="announcement-input" type="text" placeholder="Insert Message..." class="form-control" aria-label="Text input with dropdown button">
                                        <form>
                                            <a href=# id=sendMessage><button class="btn btn-outline-warning" type="button">Send</button></a>
                                        </form>

                                      </div>
                                      
                                    </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>

            <div id="Commands" class="tabcontent p-4 pt-5">
                <!--
                <div class="container container-main">
                        <div class="row" style="margin-top: 20px;">
                            <div class="col">
                                <form>
                                    <a href=# id=updateChanges><button  class='btn btn-warning'>Update Database</button></a>
                                </form>
                            </div>

                        <div class="row" style="min-width: 300px;">
                            <div class="col">
                                <form>
                                    <a href=# id=sendMessage><button  class='btn btn-warning'>Send Message</button></a>
                                </form>
                            </div>
                        </div>
                    
                    </div>
                </div>
                -->
                
                <div class="container container-main">
                    <div class="row" style="margin-top: 20px;">
                        <div class="row" style="display: flex;">
                        {% for cog, commands in cogs.items() %}
                            {% if commands|length != 0 %}
                                
                                    <div class="col">
                                        <form>
                                            <a href=# id=sendMessage><button style="height: 60px; width: 110px; margin-top: 20px; float: left;" class='btn btn-dark'>{{cog.upper().replace("COMMANDS", " ")}}</button></a>
                                        </form>
                                    </div>
                                
                            {% endif %}
                        {% endfor %}
                    </div>
                    </div>
                </div>
                

                <div class="container container-main" style="margin-top: 20px">
                    
                    <div class="row">
                        <div class="col">
                            {% for cog, commands in cogs.items() %}
                                {% if commands|length != 0 %}
                                    <div class="row" style="width: 100%; margin-top: 40px; margin-right: 40px;">
                                        <h2 class="important">{{cog}}</h2>
                                    </div>
                                    
                                    <div class="row" style="margin-right: 40px;">
                                        {% for command in commands %}
                                        
                                        <div class="card">
                                            {% if _db_commands[command[0]] == 1 %}
                                                <div id="card_command_{{command[0]}}" class="card-body" style="min-width: 450px;">
                                                    <input id="command_{{command[0]}}" onclick="updateCommandActivityState('command_{{command[0]}}')"type="checkbox" checked="checked"><label for="command_{{command[0]}}"></label>
                                            {% else %}
                                                <div id="card_command_{{command[0]}}" class="card-body" style="background-color: #202121;border-radius : 0  px; min-width: 450px;">
                                                    <input id="command_{{command[0]}}" onclick="updateCommandActivityState('command_{{command[0]}}')"type="checkbox"><label for="command_{{command[0]}}"></label>
                                            {% endif %}
                                            <span class="control"></span>
            
                                        <h5 class="card-title important">{{command[0].replace("_", " ")}} </h5>
                                        <p class="card-text">{{command[1]}}</p>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="container container-main" style="margin-top: 20px"></div>
            
                
            
            
            
            </div>

            <div id="Warns" class="tabcontent p-4 pt-5">
                <div class="container container-main">
                    <input type="text" id="warn-table-filter" style="margin-top: 40px;" onkeyup="filterTable()" placeholder="Filter by ID.." title="Type in an ID">
                </div>
                <div class="container container-main">
                    
                    <table id="warn-table" style="margin-top: 10px; margin-bottom: 20px;">
                        <tr>
                          <th onclick="sortTable(0)">User Name</th>
                          <th onclick="sortTable(1)">ID</th>
                          <th onclick="sortTable(2)">Reason</th>
                          <th onclick="sortTable(3)">Moderator Name</th>
                          <th onclick="sortTable(4)">Moderator ID</th>
                          <th onclick="sortTable(5)">Time</th>
                        </tr>
                        {% for warn in _db_warns %}
                        <tr>
                          <td class="important">{{warn["warned_user_name"]}}</td>
                          <td class="important">{{warn["warned_user_id"]}}</td>
                          <td class="important">{{warn["warn_reason"]}}</td>
                          <td class="important">{{warn["moderator_name"]}}</td>
                          <td class="important">{{warn["moderator_id"]}}</td>
                          <td class="important">{{warn["time"].strftime("%x %X")}}</td>
                        </tr>
                        {% endfor %}
                      </table>
                                            
                </div>

            </div>
        
        </div>
        
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

        <script type=text/javascript>
            $(function() {
           
                $('a#updateChanges').on('click', function(f) {                    
                    f.preventDefault()
                    $.getJSON('/update_command_state', {
                        change_dict: JSON.stringify(allChanges), 
                        guild_id: "{{guild.id}}",
                    },
                    function(data) {});
                    return false;
                });
            });

            $(function() {
                    $('a#sendMessage').on('click', function(f) {
                    f.preventDefault()
                    $.getJSON('/send_message', {
                        message : document.getElementById("announcement-input").value,
                        channel_id : selected_channel_id,
                    },
                    
                    function(data) {});
                    return false;
                });
            });

            </script>
    
        <script type=text/javascript>
        </script>

        <script>
            var selected_channel_id

            function filterTable() {
                var input, filter, table, tr, td, i, txtValue;
                input = document.getElementById("warn-table-filter");
                filter = input.value.toUpperCase();
                table = document.getElementById("warn-table");
                tr = table.getElementsByTagName("tr");
                for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[1];
                    if (td) {
                        txtValue = td.textContent || td.innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }
            
            function selectChannel(id, name) {
                dropdown_button = document.getElementById("channel-dropdown-button")

                dropdown_button.textContent = name
                
                selected_channel_id = id
        
            }

            function sortTable(n) {
                var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
                table = document.getElementById("warn-table");
                switching = true;
                //Set the sorting direction to ascending:
                dir = "asc";
                /*Make a loop that will continue until
                no switching has been done:*/
                while (switching) {
                    //start by saying: no switching is done:
                    switching = false;
                    rows = table.rows;
                    /*Loop through all table rows (except the
                    first, which contains table headers):*/
                    for (i = 1; i < (rows.length - 1); i++) {
                        //start by saying there should be no switching:
                        shouldSwitch = false;
                        /*Get the two elements you want to compare,
                        one from current row and one from the next:*/
                        x = rows[i].getElementsByTagName("TD")[n];
                        y = rows[i + 1].getElementsByTagName("TD")[n];
                        /*check if the two rows should switch place,
                        based on the direction, asc or desc:*/
                        if (dir == "asc") {
                            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                                //if so, mark as a switch and break the loop:
                                shouldSwitch = true;
                                break;
                            }
                        } else if (dir == "desc") {
                            if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                                //if so, mark as a switch and break the loop:
                                shouldSwitch = true;
                                break;
                            }
                        }
                    }
                    if (shouldSwitch) {
                        /*If a switch has been marked, make the switch
                        and mark that a switch has been done:*/
                        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                        switching = true;
                        //Each time a switch is done, increase this count by 1:
                        switchcount++;
                    } else {
                        /*If no switching has been done AND the direction is "asc",
                        set the direction to "desc" and run the while loop again.*/
                        if (switchcount == 0 && dir == "asc") {
                            dir = "desc";
                            switching = true;
                        }
                    }
                }
            }

        </script>

        <script>
            var allChanges = {}
            document.getElementById("defaultTab").click();

            function updateCommandActivityState(id) {
                var checkBox = document.getElementById(id);
                var cardBox = document.getElementById(`card_${id}`);
                if (id in allChanges)
                    delete allChanges[id]
                
                if (checkBox.checked == true){
                    allChanges[id] = 1

                    
                    cardBox.style.backgroundColor="#111213"
                }
                    
                else {
                    allChanges[id] = 0
                    cardBox.style.backgroundColor="#202121"
                }
                
            }


        </script>

    </body>
    
</html>