<!doctype html>
<html lang="en">
    <head>
        <title>Sidebar 09</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
        <meta http-equiv="Pragma" content="no-cache"/>
        <meta http-equiv="Expires" content="0"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/static/guild.css" />
        <link rel="stylesheet" type="text/css" href="/static/index.css" />
        <link rel="stylesheet" type="text/css" href="/static/bootstrap-4.4.1.css" />
        <script type="text/javascript" src="/static/js.js"></script>
    </head>
    <body style="background-color: #141617;">
        <nav class="navbar navbar-expand-lg nav">
            <a class="navbar-brand" href="#">Zen Bot</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link nav_text" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Commands</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../dashboard">Dashboard</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="wrapper d-flex align-items-stretch">
            <nav id="sidebar">
                <div class="custom-menu">
                </div>
                <div class="img bg-wrap text-center py-4" style="background-image: url();">
                    <div class="user-logo">
                        {% if guild.icon_url|length > 15 %}
                        <div class="img" style="background-image: url({{guild.icon_url}}?size=128);"></div>
                        {% else %}    
                        <div class="img" style="background-image: url(https://cdn.discordapp.com/attachments/833503537479942155/844650622342922310/Zeny_Bot_Gray.png?size=128);"></div>
                        {% endif %}
                        <h3>{{guild.name}}</h3>
                    </div>
                </div>
                <ul class="list-unstyled components mb-5">
                    <li class="tablinks" onclick="openTab(event, 'ServerInformation')">
                        <a href="javascript:void(0)" id="defaultTab" ><span class="fa fa-home mr-3"></span> Server Information</a>
                    </li>
                    <li class="tablinks" onclick="openTab(event, 'Commands')">
                        <a href="javascript:void(0)"><span class="fa fa-wrench mr-3"></span> Commands</a>
                    </li>
                </ul>
            </nav>
            <!-- Page Content  -->
            <div id="ServerInformation" class="tabcontent p-4 pt-5 " style="min-width: 85%; min-height: 100vh;-webkit-transition: all 0.3s;-o-transition: all 0.3s;transition: all 0.3s;">
                <div class="container" style="min-width: 100%;display: flex; float: left; background-color: #121212;">
                    <div class="row" style="margin-top: 20px;">
                        <div class="col col-xl-8">
                            <div class="container container-card-large float-left">
                                <div class="row">
                                    <a class="card-title">SERVER INFORMATION</a>
                                </div>
                                <div class="row">
                                    <div class="col-4 card-text">
                                        <a>Members: </a> <span>{{guild.member_count}}</span>
                                    </div>
                                    <div class="col-4 card-text">
                                        <a>Categories:</a> <span>{{guild.category_count}}</span>
                                    </div>
                                    <div class="col-4 card-text">
                                        <a>Channels:</a> <span>{{guild.channel_count}}</span>
                                    </div>
                                    <div class="col-4 card-text">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4 card-text">
                                        <a>Roles:</a> <span>{{guild.role_count}}</span>
                                    </div>
                                    <div class="col-4 card-text">
                                        <a>Region:</a> <span>{{guild.region}}</span>
                                    </div>
                                    <div class="col-4 card-text">
                                        <a>Server ID:</a> <span>{{guild.id}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="container container-card-small container-space">
                                <div class="row">
                                    <a class="card-title">IMPORTANT CHANNELS</a>
                                </div>
                                
                                <div class="row">
                                    <div class="col-4 card-text col-xl-12">
                                        <a>General Channel ID:</a> <span>{{_db_important_channels["channel_general"]}}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4 card-text col-xl-12">
                                        <a>Logs Channel ID:</a> <span>{{_db_important_channels["channel_logs"]}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="Commands" class="tabcontent p-4 pt-5 " style="min-width: 85%; min-height: 100vh;-webkit-transition: all 0.3s;-o-transition: all 0.3s;transition: all 0.3s;">
                <div class="container" style="min-width: 100%;display: flex; float: left; background-color: #121212;">
                    <div class="row" style="margin-top: 20px;">
                        <div class="col">
                            <form>
                                <a href=# id=updateChanges><button  class='btn btn-warning'>Update Database</button></a>
                            </form>
                        </div>

                    <div class="row" style="min-width: 300px;">
                        <div class="col">
                            <form>
                                <a href=# id=sendMessage><button  class='btn btn-warning'>Send Message</button></a>
                            </form>
                        </div>
                    </div>                    
                    




                    <div class="row">
                        <div class="col">
                            {% for cog, commands in cogs.items() %}
                                {% if commands|length != 0 %}
                                    <div class="row" style="width: 100%; margin-top: 40px; margin-right: 40px;">
                                        <h2>{{cog}}</h2>
                                    </div>
                                    
                                    <div class="row" style="margin-right: 40px;">
                                        {% for command in commands %}
                                        
                                        <div class="card rounded"  style="margin-top: 20px; margin-right: 20px;">
                                            {% if _db_commands[command[0]] == 1 %}
                                                <div id="card_command_{{command[0]}}" class="card-body" style="background-color: #1A1A1A;border-radius : 10px; border-color:white; min-width: 450px;">
                                                        <input id="command_{{command[0]}}" onclick="updateCommandActivityState('command_{{command[0]}}')"type="checkbox" checked="checked"><label for="command_{{command[0]}}"></label>
                                            {% else %}
                                                <div id="card_command_{{command[0]}}" class="card-body" style="background-color: #121212;border-radius : 10px; border-color:white; min-width: 450px;">
                                                    <label class="toggle-control" style="float: right">
                                                        <input id="command_{{command[0]}}" onclick="updateCommandActivityState('command_{{command[0]}}')"type="checkbox">
                                            {% endif %}
                                            <span class="control"></span>
                                        </label>
            
                                        <h5 class="card-title">{{command[0].replace("_", " ")}} </h5>
                                        <p class="card-text">{{command[1]}}</p>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

        <script type=text/javascript>
            $(function() {
           
                $('a#updateChanges').on('click', function(f) {                    
                    f.preventDefault()
                    $.getJSON('/update_command_state', {
                        change_dict: JSON.stringify(allChanges), 
                        guild_id: "{{guild.id}}",
                    },
                    function(data) {});
                    return false;
                });
            });

            $(function() {
                $('a#sendMessage').on('click', function(f) {
                    f.preventDefault()
                    $.getJSON('/send_message', {
                        message : "Hi",
                        guild_id: "{{guild.id}}"
                    },
                    
                    function(data) {});
                    return false;
                });
            });

            </script>
    
        <script type=text/javascript>
        </script>

        <script>
            var allChanges = {}
            document.getElementById("defaultTab").click();

            function updateCommandActivityState(id) {
                var checkBox = document.getElementById(id);
                var cardBox = document.getElementById(`card_${id}`);
                if (id in allChanges)
                    delete allChanges[id]
                
                if (checkBox.checked == true){
                    allChanges[id] = 1
                    cardBox.style.backgroundColor="#1A1A1A"
                }
                    
                else {
                    allChanges[id] = 0
                    cardBox.style.backgroundColor="#121212"
                }
                
            }


        </script>

    </body>
    
</html>