<!doctype html>
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
      <meta http-equiv="Pragma" content="no-cache"/>
      <meta http-equiv="Expires" content="0"/>
      

      <title>Untitled Document</title>
      <link rel="stylesheet" type="text/css" href="static/index.css" />
      <link rel="stylesheet" type="text/css" href="static/bootstrap-4.4.1.css" />
      <link rel="stylesheet" type="text/css" href="static/dashboard.css" />
    </head>


  <body style="background-color: #141617;">
      <nav class="navbar navbar-expand-lg nav">
          <a class="navbar-brand" href="#">Zen Bot</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                      <a class="nav-link nav_text" href="#">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">Commands</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">Leaderboard</a>
                  </li>
              </ul>
          </div>
      </nav>
      
      
      
      <div class="container guilds" style="margin-top: 30px;">
        {% for guild in guilds %}
            <div class="row" style="height: 96px;">
                <div class="col-sm-1">
                    {% if guild.icon_url is not none %}
                    <img class="vertical-center av_image" style="margin-left: 5px; width: 64px; height: 64px;" src="{{guild.icon_url}}" alt="Card image cap">
                    {% else %}
                    <img class="vertical-center av_image" style="margin-left: 5px; width: 64px; height: 64px;" src="https://cdn.discordapp.com/attachments/833503537479942155/844650622342922310/Zeny_Bot_Gray.png" alt="Card image cap">
                    {% endif %}
                </div>
                
                <div class="col-sm-9">
                    <h5><span class="text_primary vertical-center">{{guild.name}}</span></h5>
                </div>

                
                <div class="col-sm">
                    {% if guild.in_server is true %}
                        <a href="/dashboard/{{guild.id}}" class="btn btn-warning vertical-center float-right" role="button">Open Dashboard</a>
                    {% else %}
                        <a href="{{join_url}}" class="btn btn-dark vertical-center float-right" role="button">Invite to server</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}  
        </div>
    </div>      

  </body>
</html>
