<!doctype html>
<html lang="en"><head>
        <title>Sidebar 09</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel="stylesheet" type="text/css" href="/static/guild.css" />
        <link rel="stylesheet" type="text/css" href="/static/index.css" />
        <link rel="stylesheet" type="text/css" href="/static/bootstrap-4.4.1.css" />
  
    </head>
    <body style="background-color: #141617;">
        <nav class="navbar navbar-expand-lg nav">
            <a class="navbar-brand" href="#">Zen Bot</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link nav_text" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Commands</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Leaderboard</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="wrapper d-flex align-items-stretch">
            <nav id="sidebar">
                <div class="custom-menu">
                </div>
                <div class="img bg-wrap text-center py-4" style="background-image: url();">
                    <div class="user-logo">
                        {% if guild.icon_url|length > 15 %}
                            <div class="img" style="background-image: url({{guild.icon_url}}?size=128);"></div>
                        {% else %}    
                            <div class="img" style="background-image: url(https://cdn.discordapp.com/attachments/833503537479942155/844650622342922310/Zeny_Bot_Gray.png?size=128);"></div>
                        {% endif %}

                        <h3>{{guild.name}}</h3>
                    </div>
                </div>
                <ul class="list-unstyled components mb-5">
                    <li class="active">
                        <a href="#"><span class="fa fa-home mr-3"></span> Server Information</a>
                    </li>
                    <li>
                        <a href="#"><span class="fa fa-gift mr-3"></span> Unfinished</a>
                    </li>
                </ul>
            </nav>
            <!-- Page Content  -->
            <div id="content" class="p-4 p-md-5 pt-5 float-right">
                <div class="container">
                    <div class="row">
                       <div class="col">
                          <span class="text-title-card">SERVER INFORMATION</span>
                       </div>
                    </div>
                    <div class="row" style="width: 1000px;">
                       <div class="col-4 card-text">
                          <a>Members: </a> <span>{{guild.member_count}}</span></div><div class="col-4 card-text">
                          <a>Categories:</a> <span>{{guild.category_count}}</span></div><div class="col-4 card-text">
                          <a>Channels:</a> <span>{{guild.channel_count}}</span></div><div class="col-4 card-text">
                       </div>
                     </div>
                    <div class="row">
                       <div class="col-4 card-text">
                          <a>Roles:</a> <span>{{guild.role_count}}</span>
                       </div>
                       <div class="col-4 card-text">
                          <a>Region:</a> <span>{{guild.region}}</span>
                       </div>
                       <div class="col-4 card-text">
                          <a>Server ID:</a> <span>{{guild.id}}</span>
                       </div>
                     </div>
                 </div>            
                 </div>         
            </div>

 
        </div>
    </body>
</html>