
.discriminator{
    color: #ffc600
}

.text_primary {
    color: #BDBDBD
}

.subtitle {
    color: #8A8A8A
}

.user div {
    display: inline-block;
    margin-left: 5px;
}

.user-details{
    vertical-align: middle
}

.row:hover{
    background-color: #1b1d1f;
}

.guild div {
    background-color: #1b1d1f;
}

.guild-avatar{
    width: 64px;
    height: 64px;
}


