body {
    background: #141617
}

.container .row .card-title {
    border-radius: 10px;
    font-weight: bold;
    color: white;
}
.container .row .container-card-large {
  border-radius: 10px;
  background: #1A1A1A;
  padding: 20px;
  width: 1000px;
  height: 150px;

}

.container-card-large .row {
    width: 950px;
}

.container .row .container-card-medium {
  border-radius: 10px;
  background: #1A1A1A;
  padding: 20px;
  width: 700px;
  height: 150px;

}

.container .row .container-card-small {
  border-radius: 10px;
  background: #1A1A1A;
  padding: 20px;
  width: 400px;
  height: 150px;

}

.container .row .container-space {
    margin-left: 40px;
}
.text-title-card {
    color: white;
    font-weight: bold;
}

.container .row .card-text a{
    color: #808080;
}

.container .small-ct {
    max-width: 5px;
} 
.container .row .card-text span{
    color: white;
}

.container .row {
    margin: 0px 15px 15px 15px
}
.info-card {
    width: 1200px;
}

a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    color: #ffc600; }
    a:hover, a:focus {
    
      text-decoration: none !important;
      outline: none !important;
      -webkit-box-shadow: none;
      box-shadow: none; }

      
a:hover,
a:focus {
    
    text-decoration: none !important;
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.wrapper {
    width: 100%;
}

.tabcontent {
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}
  
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
  
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

  

#sidebar {
    min-width: 300px;
    max-width: 300px;
    background: #1b1d1f;
    color: #fff;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
}

#sidebar .h6 {
    color: #fff;
}

#sidebar.active {
    margin-left: -300px;
}

#sidebar.active .custom-menu {
    margin-right: -50px;
}

#sidebar.active .btn.btn-primary:before {
    content: "\f053";
    font-family: "FontAwesome";
    right: 2px !important;
}

#sidebar.active .btn.btn-primary:after {
    display: none;
}


#sidebar h1 .logo {
    color: #fff;
    display: block;
    padding: 10px 30px;
    background:#ffc600;
}

#sidebar ul.components {
    padding: 0;
}

#sidebar ul li {
    font-size: 16px;
}

#sidebar ul li>ul {
    margin-left: 10px;
}

#sidebar ul li>ul li {
    font-size: 14px;
}

#sidebar ul li a {
    padding: 15px 30px;
    display: block;
    color: rgba(255, 255, 255, 0.6);
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

#sidebar ul li a span.notif {
    position: relative;
}

#sidebar ul li a span.notif small {
    position: absolute;
    top: -3px;
    bottom: 0;
    right: -3px;
    width: 12px;
    height: 12px;
    content: '';
    background: red;
    border-radius: 50%;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 8px;
}


#sidebar ul li.active>a {
    background: transparent;
    color: #fff;
}





@media (prefers-reduced-motion: reduce) {
    #sidebar .custom-menu {
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }
}



.bg-wrap {
    width: 100%;
    position: relative;
    z-index: 0;
}

.bg-wrap:after {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background: #000;
    opacity: .3;
}

.bg-wrap .user-logo .img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.bg-wrap .user-logo h3 {
    color: #fff;
    font-size: 18px;
}

#content {
    min-height: 75vh;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.footer p {
    color: rgba(255, 255, 255, 0.5);
}

.form-control {
    height: 40px !important;
    background: #fff;
    color: #000;
    font-size: 13px;
    border-radius: 4px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: transparent;
}

.form-control:focus,
.form-control:active {
    border-color: #000;
}

.form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(255, 255, 255, 0.5);
}

.form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(255, 255, 255, 0.5);
}

.form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(255, 255, 255, 0.5);
}

.form-control:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(255, 255, 255, 0.5);
}

.subscribe-form .form-control {
    background: #ffc600;
}