body {
    background: #1f1f1f
        
}

nav {
    background: #2a2a2a 
    
}

.av_image {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    border: 3px solid #3E3E3E;

}

nav a { 
    color: #B4B4B4 !important; 
}
nav a:hover { 
    color: #ffc600 !important; 
}
